
<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner" id="top">
    <video autoplay muted loop id="bg-video">
        <source src="assets/images/gym-video.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <div class="caption">
            <h6>work harder, get stronger</h6>
            <h2>easy with our <em>gym</em></h2>
            <form>
              <div class="row">
                  <div class="col-md-5">
                      <div class="form-group">
                        <input type="text" class="form-control form-control-lg" placeholder="Full Name" name="text3">
                      </div> 
                  </div>
                  <div class="col-md-5">
                      <div class="form-group">
                        <input type="text" class="form-control form-control-lg" placeholder="Age" name="text3">
                      </div> 
                  </div>
                  <div class="col-md-2">
                      <div class="form-group">
                          <input type="button" value="Submit" class="form-control form-control-lg" placeholder="Large form control" name="text3">
                      </div> 
                  </div>
              </div>
              
            </form>

            <!-- <div class="main-button scroll-to-section">
                <a href="#features">Become a member</a>
            </div> -->
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** Features Item Start ***** -->


