<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="javascript:void(0)" routerLink="/index" class="logo">GF<em> Club</em></a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="javascript:void(0)" class="active" routerLink="/index">Home</a></li>
                        <li class="scroll-to-section"><a href="javascript:void(0)" routerLink="/feed">Feed</a></li>
                        <!-- <li class="scroll-to-section"><a href="javascript:void(0)" routerLink="/feed">Classes</a></li>
                        <li class="scroll-to-section"><a href="#schedule">Schedules</a></li>
                        <li class="scroll-to-section"><a href="#contact-us">Contact</a></li>  -->
                        <li class="main-button"><a href="javascript:void(0)" routerLink="/invite">Become A Member</a></li>
                    </ul>        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->